.profile__avatar {
    width: 120px;
    height: 120px;
    background-color: transparent;
    border-radius: 60px;
}

@media screen and (max-width: 320px) {
   .profile__avatar {
       margin-bottom: 26px;
   }
}